.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.number-of-pizzas-button,
.number-of-pizzas {
  margin: 0 10px;
}

.number-of-pizzas {
  font-size: 2em;
}

.size-container {
  margin-left: -1.25em;
}

.proportion {
  display: none;
}

.proportion:checked + label {
  color: #FF0000;
}

.half-left {
  transform: rotate(180deg);
}

.status--emitted {
  width: 10%;
}

.status--in-preparation {
  width: 25%;
}

.status--cooking {
  width: 75%;
}

.status--on-delivery,
.status--ready {
  width: 100%;
}

.react-datepicker__input-container input {
  text-align: center;
  font-size: 2em;
}
